body{
	scroll-behavior: smooth;
}


header {
	display: flex; 
	align-items: center; 
	padding: 20px; 
	background-color: #f2f2f2; 
  }
  

  header img {
	height: 20px; 
	margin-right: 10px; 
  }
  
  
  header nav {
	margin: 0; 
	padding: 0; 
	list-style: none; 
	scroll-behavior: smooth;
  }
  
 
  header nav ul li {
	display: inline-block; 
	margin-right: 20px; 
  }
  
  header nav ul li a {
	text-decoration: none; 
	color: #333; 
	font-weight: bold; 
  }
  
 
  header nav ul li.active a {
	color: #007bff; 
  }
  
.image-container {
	position: relative; 
	width: 100%; 
	height: auto;
	overflow: hidden; 
  }
  

  .image-container img {
	width: 100%;
	height: auto;
	object-fit: cover; 
  }
  
  
  .image-text {
	position: absolute;
	top: 50%; 
	left: 20%; 
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5); 
	color: white;
	padding: 20px; 
	text-align: center; 
  }.image-text h2{
	color: #007bff;
  }
  
  
  .image-text button {
	background-color: #007bff; 
	color: white; 
	padding: 10px 20px;
	border: none; 
	cursor: pointer;
  }
  h2{
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	color: black;
  }
  p{
	text-align: center;
  }
 
#Our-programs {
	padding: 20px; 
	background-color: #f2f2f2; 
  }
  
  
  #Our-programs h2 {
	text-align: center; 
	font-size: 24px; 
	margin-bottom: 20px;
  }
  
  
  #Our-programs ul {
	list-style: none; 
	padding: 0; 
	justify-content: space-between;
  }
  
  
  #Our-programs ul li {
	margin-bottom: 10px; 
	display: inline-block;
	margin-right: 10rem;
	margin-left: 3rem;
	text-align: center;
	font-weight: 500;
	object-fit: cover;
	gap: 2rem;
  }
  
  
  #Our-programs ul li a {
	text-decoration: none; 
	color: #333; 
	font-weight: bold; 
	
  }
  
  
  #Our-programs ul li a.active {
	color: #007bff; 
  }
  #Our-programs :hover{
	color: #007bff;
	transition: 0.5s;
  }
  
  .payment-method-selection {
	display: flex;
	justify-content: center; 
	align-items: center; 
	margin-bottom: 20px; 
  }
  
  .payment-method {
	margin: 10px; 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: center; 
  }
  
  .payment-method img {
	width: 50px; 
	height: auto; 
	margin-bottom: 10px; 
  }
  
#mtn-money-form {
	padding: 20px; 
	border: 1px solid #ccc; 
	margin-bottom: 20px;
  }
  
 
  #mtn-money-form h2 {
	text-align: center; 
	font-size: 18px; 
	margin-bottom: 10px; 
  }
  
  
  #mtn-money-form p {
	text-align: justify; 
  }
  
 
  #mtn-money-form label {
	display: block; 
	margin-bottom: 5px; 
  }
  
  
  #mtn-money-form input {
	padding: 5px; 
	border: 1px solid #ccc; 
	width: 100%; 
  }
  
  
  #mtn-money-form input[type="submit"] {
	padding: 10px; 
	border: none; 
	background-color: #007bff;
	color: white; 
	cursor: pointer; 
  }
   
   #orange-money-form {
	padding: 20px;
	border: 1px solid #ccc; 
	margin-bottom: 20px; 
	
  }
  
 
  #orange-money-form h2 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px; 
  }

  #orange-money-form p {
	text-align: justify; 
  }
  
  
  #orange-money-form label {
	display: block; 
	margin-bottom: 5px; 
  }
  
 
  #orange-money-form input {
	padding: 5px; 
	border: 1px solid #ccc; 
	width: 100%; 
  }
  
  
  #orange-money-form input[type="submit"] {
	padding: 10px; 
	border: none; 
	background-color: #007bff; 
	color: white; 
	cursor: pointer; 
  }
  footer {
	background-color: #222;
	color: #fff;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
  }
  
  footer p {
	margin: 0;
	font-size: 14px;
  }
  
  footer nav {
	display: inline-block;
  }
  
  footer nav h4 {
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  footer nav ul {
	list-style: none;
	padding: 0;
  }
  
  footer nav li {
	margin-bottom: 5px;
  }
  
  footer nav a {
	color: #fff;
	text-decoration: none;
  }
  
  footer nav a:hover {
	text-decoration: underline;
	
  }
 
  #volunteer a{
	display: inline-block;
	justify-content: space-evenly;
	align-items: center;
	margin-left:120px ;
  }
  #volunteer a .bx{
	font-size: 30px;
	margin: 0 15px;
  }
  
  .ask{
	text-align: center;
	font-size: 20px;
  }