body {
    font-family: sans-serif;
}

.gallery-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.thumbnails {
    display: inline-block;
    justify-content: space-between;
    margin-top: 10px;
}

.thumbnail {
    width: 150px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
p{
    text-align: left;
    color: red;
}
